<section>
    <div class="container">
        <h1 class="text-white">{{category}} commands.</h1>
        <div class="accordion" id="accordionExample">
            {{#each commands}}
            <div class="card bg-transparent border border-danger text-white">
                <div class="card-header command-card" id="headingTwo">
                    <h2 class="mb-0 text-center">
                        <a class="btn btn-link w-100 collapsed" type="button" data-toggle="collapse"
                            data-target="#{{this.name}}" aria-expanded="false" aria-controls="{{this.name}}">
                            {{this.name}}
                        </a>
                    </h2>
                </div>
                <div id="{{this.name}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body text-center">
                        <h4><strong>{{this.description}}</strong></h4>
                        {{#if this.aliases}}
                        <h5><strong>Aliases:</strong> {{this.aliases}}</h5>
                        {{/if}}
                        {{#if this.usage}}
                        <h5><strong>Usage:</strong> {{this.usage}}</h5>
                        {{/if}}
                        {{#if this.permissions}}
                        <h5><strong>Permissions:</strong> {{this.permissions}}</h5>
                        {{/if}}
                        <h5><strong>Category:</strong> {{this.category}}</h5>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>